flask
flask-cors
requests
python-dotenv
flask-session
datetime
supabase
pyjwt
waitress
openai>=1.0
google-generativeai>=0.3.2
langchain>=0.1.0
sentence-transformers==2.2.2
cryptography
torch==2.1.2+cpu